/* GRID CHUNG */
.products-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 12px;
}

/* THẺ SẢN PHẨM */
.product-card {
  width: 250px;
  background: #1e1e1e;
  color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  position: relative;
  padding-bottom: 65px; /* tạo chỗ trống cho phần giá và nút */
}

.product-card:hover {
  transform: translateY(-3px);
}

/* KHUNG ẢNH */
.product-image-wrap {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 12px;
}

.product-image {
  max-width: 85%;
  max-height: 85%;
  object-fit: contain;
}

/* NỘI DUNG */
.product-content {
  padding: 12px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

/* TIÊU ĐỀ */
.product-title {
  font-size: 16px;
  font-weight: 700;
  color: #080808;
  margin: 0;
  min-height: 42px;
  display: -webkit-box;
  /* -webkit-line-clamp: 2; */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* GIÁ */
.product-price {
  color: #ff4b4b;
  margin: 0;
  font-weight: 600;
}

/* MÔ TẢ */
.product-desc {
  margin: 0;
  color: #2e2d2d;
  font-size: 13px;
  text-align: center;
  min-height: 36px;
}

/* HÀNH ĐỘNG (ĐƯA XUỐNG CUỐI THẺ) */
.product-actions {
  bottom: 12px;
  left: 0;
  right: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0 12px;
  background: transparent;
}

/* LINK & NÚT */
.product-link {
  color: #ff4b4b;
  text-decoration: none;
  align-self: center;
}

.add-btn {
  background: #ff4b4b;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.add-btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}
